/* 
style.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color:white;
    display: block;
    justify-content: center;
    text-align: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.grille-chambre
{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 4rem;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10rem;
}
.chambre1 h2
{
    font-size: 1.3rem;
    margin-top: 5%;
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.chambre1
{
    width: 357px;
    margin: auto;
    margin-top: 15%;
    justify-content: center;
    margin-bottom: 2%;
}
.grille-chambre img
{
    width: 357px;
}
.chambre2 h2
{
    font-size: 1.3rem;
    color: grey;
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.chambre2
{
    width: 357px;
    margin: auto;
    margin-top: 15%;
    justify-content: center;
    margin-bottom: 2%;
}
.chambre3 h2
{
    font-size: 1.3rem;
    color: grey;
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.chambre3
{
    width: 357px;
    margin: auto;
    margin-top: 15%;
    justify-content: center;
    margin-bottom: 2%;
}
.chambre4 h2
{
    font-size: 1.3rem;
    margin-top: 5%;
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.chambre4
{
    width: 357px;
    margin: auto;
    margin-top: 15%;
    justify-content: center;
    margin-bottom: 2%;
}
.chambre5 h2
{
    font-size: 1.3rem;
    margin-top: 5%;
    color:grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.chambre5
{
    width: 357px;
    margin: auto;
    margin-top: 15%;
    justify-content: center;
    margin-bottom: 2%;
}
.chambre6 h2
{
    font-size: 1.3rem;
    margin-top: 5%;
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.chambre6
{
    width: 357px;
    margin: auto;
    margin-top: 15%;
    justify-content: center;
    margin-bottom: 2%;
}
.zoom
{
    cursor: pointer;
    overflow: hidden;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}
.zoom:hover
{
    transform: scale(1.15);
}
@media all and (max-width : 800px)
{
    .grille-chambre
    {
        display: grid;
        grid-template-columns: auto;
    }
}