/* 
style.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h2{
    text-align: center;
    text-transform: uppercase;
    color: grey;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.fichetechnique
{
    margin-top: 5%;
    margin-bottom: 10rem;
    margin-right: 10%;
    margin-left: 10%;
}
p
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
*{box-sizing: border-box}

img{max-width: 100%}

input[type=radio]{

position: absolute;
left: -9999px

}/*on cache tous les input*/
	
.cadre-demo1 label{
	
cursor:pointer/*on pointe tous les labels*/
	
}

.cadre-demo1{

overflow: hidden;
position: relative;
max-width: 600px;
margin: 2rem auto;
	
	}


.photos-mini{
	
	
padding-top: 66.67%;/* il s'agit du ratio pour le responsive*/
display: flex;

	}

.miniature{

flex: 1; /*les photos occupent la même place selon la largeur du conteneur*/
padding-top:5rem;
padding-left: 0.5rem;
	
}
	

.fenetre{/*grande photo*/

object-fit: cover;
position: absolute;
top: 0;
transition:all .6s;
left: -100%;
opacity: 0
	
	}

.fen:checked~ .fenetre{
	
left: 0;
opacity: 1
	
	}

}

.fen:checked~figcaption{

opacity: 1
	
	}
	
