/* 
style.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header
{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 8rem;
    margin-bottom: 7%;
}
header img
{
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    margin-top: 7%;
    padding-bottom: 7%;
}
a
{
    text-decoration-line: none;
}
section
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    max-width: auto;
    height: 15rem;
    background-image: url(pool.jpg);
    opacity: 90%;
}
ul
{
    display: flex;
    flex-direction: row;
}
.liste-menu li
{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 73%);
    margin-top: 7%;
}
li a 
{
    color: white;
}
li a:hover
{
    color: black;
}
#menu-accueil
{
    margin-left: auto;
    margin-right: auto;
}
#menu-accueil a:hover
{
    color: black;
}
#menu-chambres
{
    margin-left: auto;
    margin-right: auto;
}
#menu-restau 
{
    margin-left: auto;
    margin-right: auto; 
}
#menu-reservation
{
    margin-left: auto;
    margin-right: auto; 
}
#autourduhavredepaix
{
    margin-left: auto;
    margin-right: auto; 
}
footer
{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    background:#273481;
    margin-top: 10rem;
    min-width: 300px;
    position: fixed;
    bottom: 0;
}
.foot1
{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    margin-left: 10%;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}
.foot2
{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: right;
    margin-right: 10%;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}
.foot2 span
{
    display: flex;
    flex-direction: row;
}
footer img
{
    max-width: 30px;
}
.foot1 a 
{
    text-decoration-line: none;
    color: white;
}
.foot2 a
{
    text-decoration-line: none;
    color: white;
}
.foot1 a:hover
{
    color:black;
}
.foot2 a:hover
{
    color: black;
}
@media all and (max-width : 800px)
{
    ul
    {
        display: flex;
        flex-direction: column;
    }
    section
    {
        height: auto;
        padding-bottom: 1rem;
    }
    li a
    {
        color: white;
    }
    header img
    {
        margin-bottom: 15%;
        max-width: 250px;
    }
    h2
    {
        font-size: 1.5rem;
        margin-top: 5%;
    }
}