/* 
style.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body
{
    background-color: #D7DBDD;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    justify-content: center;
    max-width: 1500px;
    text-align: center;
}
main
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.presentation h2
{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.5rem;
    margin-bottom: 5%;
}
.presentation p
{
    padding-bottom: 10%;
}
.photos{
    width:640px;
    height:480px;
    margin:auto;
    position:relative;
    overflow:hidden;
    box-shadow:0 0 5px;
    margin-bottom: 10%;
  }
  .photos img {
    position:absolute;
    top:0;
    left:0;
    transition:1s;
    vertical-align:bottom;
  }
  .photos img:nth-child(even) {
    left:100%;
  }
  .photos img:nth-child(2n+3) {
    left:-100%;
  }
  .photos img:focus + img {
    left:0;
    transition:1000ms;
    box-shadow:0 0 50px 100px white;
  }
  
  /* make it responsive ? */
  .photos , img {max-width: 100%;height:auto;}
  img:first-child {position:static;}

  .commentaires
  {
      padding-bottom: 3rem;
  }
  
  .avisclients
  {
      display: flex;
      flex-direction: row;
      margin-bottom: 15%;
  }
  .commentaires h2
  {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.5rem;   
  }
  .avisclients div
  {
      width: 250px;
  }
  #com1
  {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
  }
  #com1 p
  {
      padding-bottom: 3.5rem;
  }
  #com2
  {
    display: flex;
    flex-direction: column;
      margin-left: auto;
      margin-right: auto;
  }
  #com2 p
  {
      padding-bottom: 2.5rem;
  }
  #com3
  {
    display: flex;
    flex-direction: column;
      margin-left: auto;
      margin-right: auto;
  }
  #com3 p
  {
      padding-bottom: 1.5rem;
  }
  .avisclients img
  {
      width: 150px;
      margin-left: auto;
      margin-right: auto;
  }
  @media all and (max-width : 800px)
  {
      main
      {
          width: auto;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
      }
      .avisclients
      {
          display: flex;
          flex-direction: column;
      }
      .avisclients div
      {
          margin-bottom: 2rem;
      }
      .avisclients p
      {
          padding-bottom: 5%;
      }
      #com1 p
      {
          padding-bottom: 1rem;
      }
      #com2 p
      {
          padding-bottom: 1rem;
      }
  }